[submodule "src/ddnet"]
	path = src/ddnet
	url = git@github.com:ddnet/ddnet.git
[submodule "src/freeze"]
	path = src/freeze
	url = git@github.com:timakro/teeworlds-freeze.git
[submodule "src/teesmash"]
	path = src/teesmash
	url = git@github.com:timazuki/TeeSmash.git
[submodule "src/teeworlds-patches"]
	path = src/teeworlds-patches
	url = git@github.com:timakro/teeworlds-patches.git
[submodule "src/fly"]
	path = src/fly
	url = git@github.com:unique-clan/fly.git
	branch = unique_fly
[submodule "src/football"]
	path = src/football
	url = git@github.com:unique-clan/football.git
	branch = teefoot
[submodule "src/instagib"]
	path = src/instagib
	url = git@github.com:unique-clan/instagib.git
	branch = tw-plus
[submodule "src/monster"]
	path = src/monster
	url = git@github.com:unique-clan/monster.git
[submodule "src/teeworlds"]
	path = src/teeworlds
	url = git@github.com:unique-clan/teeworlds.git
	branch = 0.6
[submodule "src/unique-race"]
	path = src/unique-race
	url = git@github.com:unique-clan/unique-race.git
[submodule "src/fng"]
	path = src/fng
	url = git@github.com:unique-clan/fng.git
[submodule "src/bomb"]
	path = src/bomb
	url = git@github.com:unique-clan/bomb.git
