*.swp
/.*
!/.gitignore
!/.profile
!/.zprofile
__pycache__/
*.cfg
!/race/maps/*.cfg
!storage.cfg
server.pid
server.log
server.log.old
/sql/backups/*
!/sql/backups/.keep
/*/records/
/passwords.json
/local_config.json
/bans.cfg.tmpl
/race/release/
/race_test/data/maps/
/src/*/
ddnet-server.sqlite
