PATH=/srv/tw/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games
PYTHONPATH=/srv/tw

# m h dom mon dow command

# Clean up worse ranks every night
24 3    *  *  * racecleanranks > /dev/null

# Map releases
#0  18   20 01 * raceaddmap "Power Drill" Short Derp
#0  19   23 01 * raceaddmap run_4Smash Short GELO
#0  14   18 11 * raceaddmap ctf_medieval Fastcap chi1 Lord
#20 19   *  *  * raceaddmap fly4popo Middle SkizZ
