PATH=/srv/tw/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games
PYTHONPATH=/srv/tw

# m h dom mon dow command

# Clean up worse ranks every night
24 3    *  *  * racecleanranks > /dev/null

# Map releases
#0  14   18 11 * raceaddmap ctf_medieval Fastcap chi1 Lord
