exec teeworlds.cfg

sv_welcome "Welcome to Unique, visit uniqueclan.net for more info"

sv_max_clients 64
sv_max_clients_per_ip 4

sv_events 0
sv_tune_reset 1
sv_ddrace_tune_reset 1
sv_kill_delay 1
sv_kill_protection 10

sv_spectator_votes 0
sv_join_vote_delay 0
sv_vote_veto_time 0
sv_vote_delay 120

sv_chat_penalty 150

sv_reset_file ddreset.cfg
sv_input_fifo server.fifo
