sv_motd "█▛▀▀██████████████████\n▛▗▖       ▖████▌▗▗██████████\n▌▐              ▌▐▘▀▝▌▝▐▛▀▘▛▛▀█▀▀█\n▌▐       ▗▌▐       ▙       ▌█▐▗█       ▌▌       ▌▗▖▜\n▙▝▙▟▘▐       █       ▌▐▐▐▛       ▌▌▗▌▗▄▟\n█▖              ▄█▄▌▟▌▟▐▖▗       ▌▜▛▙              ▟\n█████████▌       ▐██       ▙▄▄▟███\n██████████████▄███████\n\nVisit uniqueclan.net!"
