@name|Bomb
sv_map "bomb_s"

exec teeworlds.cfg

sv_scorelimit 0

@heading|Bomb Maps
@chmap|bomb_s
@chmap|BombCave
@chmap|Bomberman
@chmap|Fort-Avo By Maple
@chmap|Keks_The last Stand
@chmap|Smallbomb
@chmap|MapleZombie1
@chmap|zombiebunker

@heading|Other Maps
exec stdmaps/maps.cfg

@heading|Ingame Players
@option|1 on 1|sv_spectator_slots 14
@option|2 on 2|sv_spectator_slots 12
@option|3 on 3|sv_spectator_slots 10
@option|4 on 4|sv_spectator_slots 8
@option|5 on 5|sv_spectator_slots 6
@option|6 on 6|sv_spectator_slots 4
@option|7 on 7|sv_spectator_slots 2
@option|8 on 8|sv_spectator_slots 0
