@name|Instagib
sv_map "instamaps/ctf5"
sv_gametype "ictf"

exec teeworlds.cfg

sv_scorelimit 1000

sv_stopgo_feature 0

@heading|Timelimit
@option|no timelimit|sv_timelimit 0
@option|1 min|sv_timelimit 1
@option|5 min|sv_timelimit 5
@option|10 min|sv_timelimit 10
@option|30 min|sv_timelimit 30
@option|60 min|sv_timelimit 60
@option|120 min|sv_timelimit 120

@heading|Scorelimit
@option|no scorelimit|sv_scorelimit 0
@option|250 points|sv_scorelimit 250
@option|500 points|sv_scorelimit 500
@option|1000 points|sv_scorelimit 1000
@option|1500 points|sv_scorelimit 1500
@option|2500 points|sv_scorelimit 2500

@heading|Maps
exec instamaps/maps.cfg

@heading|Ingame Players
@option|1 on 1|sv_spectator_slots 14
@option|2 on 2|sv_spectator_slots 12
@option|3 on 3|sv_spectator_slots 10
@option|4 on 4|sv_spectator_slots 8
@option|5 on 5|sv_spectator_slots 6
@option|6 on 6|sv_spectator_slots 4
@option|7 on 7|sv_spectator_slots 2
@option|8 on 8|sv_spectator_slots 0

@heading|Gametype
@option|iCTF|sv_gametype ictf; reload
@option|gCTF|sv_gametype gctf; reload

@heading|Other
@option|restart round|restart
