@heading|Scorelimit
@option|no scorelimit|sv_scorelimit 0
@option|100 points|sv_scorelimit 100
@option|250 points|sv_scorelimit 250
@option|400 points|sv_scorelimit 400
@option|500 points|sv_scorelimit 500
@option|1000 points|sv_scorelimit 1000

@heading|Maps
exec flycfg/maps.cfg

@heading|Ingame Players
@option|1 on 1|sv_spectator_slots 14
@option|2 on 2|sv_spectator_slots 12
@option|3 on 3|sv_spectator_slots 10
@option|4 on 4|sv_spectator_slots 8
@option|5 on 5|sv_spectator_slots 6
@option|6 on 6|sv_spectator_slots 4
@option|7 on 7|sv_spectator_slots 2
@option|8 on 8|sv_spectator_slots 0

@heading|Other
@option|restart round|restart
