@name|Gores
sv_map "Neores"

exec ddrace.cfg

exec sql.cfg
@sqlserver|gores

sv_max_clients 48
sv_tournament_mode 1
sv_vote_veto_time 10

sv_reset_file reset.cfg

@heading|Maps
@chmap|DoNe|timakro
@chmap|Neores|NeoN
@chmap|Tezores|Tezcan
