@name|HMH-Monster
sv_map "ktm5"

exec teeworlds.cfg

sv_wall_costs 2
sv_max_wall_kills 2
sv_wall_damage -1
sv_max_walls -1

@heading|Other
@option|revive all|set_team_all 0
@option|20 points for all|addscoreall 20
@option|Godmode for one wave|godmode 1

@heading|Undead
@option|on|sv_undead 1
@option|off|sv_undead 0

@heading|Set Wave
@option|1|set_wave 1
@option|10|set_wave 10
@option|25|set_wave 25
@option|30|set_wave 30
@option|50|set_wave 50
@option|81|set_wave 81
@option|100|set_wave 100
@option|200|set_wave 200

@heading|Walls
@option|HMH's|sv_wall_costs 2; sv_max_wall_kills 2; sv_wall_damage -1; sv_max_walls -1
@option|normal|sv_wall_costs 10; sv_max_wall_kills 10; sv_wall_damage 10; sv_max_walls 2

@heading|Maps
@chmap|ctf5
@chmap|ktm5
@chmap|ktm5+
@chmap|ktm5+easy
@chmap|Monster_Rain
@chmap|Monster_World
