@name|Race Test
sv_map "2222"

exec ddrace.cfg
sv_reset_file race/reset.cfg

sv_max_clients 8
sv_test_cmds 1

@passwd|access|race_test

@heading|Maps
@chmap|2222|kickz
@chmap|run_Nettermann|Tezcan
@chmap|run_fudgy_jungle|Fudgyking
@chmap|run_double_trouble|ReTTeX
@chmap|fly_green_darkness|Mc'zTyla'
