@name|Football
sv_map "football"

exec teeworlds.cfg

sv_scorelimit 10

sv_ball_respawn 7


@heading|Timelimit
@option|no timelimit|sv_timelimit 0
@option|1 min|sv_timelimit 1
@option|5 min|sv_timelimit 5
@option|10 min|sv_timelimit 10
@option|30 min|sv_timelimit 30
@option|60 min|sv_timelimit 60
@option|120 min|sv_timelimit 120

@heading|Scorelimit
@option|no scorelimit|sv_scorelimit 0
@option|5 points|sv_scorelimit 5
@option|10 points|sv_scorelimit 10
@option|20 points|sv_scorelimit 20
@option|50 points|sv_scorelimit 50

@heading|Maps
@chmap|football
@chmap|foot_big|Unlimreal
@chmap|foot|Unlimreal
@chmap|foot-night
@chmap|foot-tournament|Pipou

@heading|Ingame Players
@option|1 on 1|sv_spectator_slots 14
@option|2 on 2|sv_spectator_slots 12
@option|3 on 3|sv_spectator_slots 10
@option|4 on 4|sv_spectator_slots 8
@option|5 on 5|sv_spectator_slots 6
@option|6 on 6|sv_spectator_slots 4
@option|7 on 7|sv_spectator_slots 2
@option|8 on 8|sv_spectator_slots 0

@heading|Other
@option|restart round|restart

