@name|Acception Test
sv_map "EdgeJump"

exec ddrace.cfg
sv_reset_file reset.cfg

sv_max_clients 8
sv_test_cmds 1

@passwd|access|acception

@heading|Maps
@chmap|EdgeJump|tobu.
@chmap|DummyDrag|tobu.
@chmap|Gores|tobu.
@chmap|EdgeHook|tobu.
@chmap|Fly|tobu.
