@chmap|instamaps/beachfight
@chmap|instamaps/ctf1
@chmap|instamaps/ctf2
@chmap|instamaps/ctf3
@chmap|instamaps/ctf4
@chmap|instamaps/ctf4_classic
@chmap|instamaps/ctf4_new
@chmap|instamaps/ctf4_old
@chmap|instamaps/ctf4_old_frozen
@chmap|instamaps/ctf5
@chmap|instamaps/ctf6
@chmap|instamaps/ctf7
@chmap|instamaps/ctf_benjiks_nightmare
@chmap|instamaps/ctf_cold_winter
@chmap|instamaps/ctf_cosmic
@chmap|instamaps/ctf_ctf
@chmap|instamaps/ctf_czech
@chmap|instamaps/ctf_fall
@chmap|instamaps/ctf_high_ground
@chmap|instamaps/ctf_krypton
@chmap|instamaps/ctf_lava
@chmap|instamaps/ctf_mars
@chmap|instamaps/ctf_ocean
@chmap|instamaps/ctf_red_afternoon
@chmap|instamaps/ctf_uno
@chmap|instamaps/desertcamp
@chmap|instamaps/lost
@chmap|instamaps/nano_lost
@chmap|instamaps/roma
@chmap|instamaps/test11
