@chmap|ctf1_no_wpns|matricks
@chmap|ctf2_no_wpns|matricks
@chmap|ctf3_no_wpns|chi1 & Somerunce
@chmap|ctf4_no_wpns|chi1 & pocram
@chmap|ctf4_old_no_wpns|chi1, Landil & pocram
@chmap|ctf5_no_wpns|chi1
@chmap|ctf6_no_wpns|chi1, Steph & pocram
@chmap|ctf7_no_wpns|Ubu & Lord
@chmap|ctf8_no_wpns|Sonix
@chmap|ctf_amazonia_no_wpns|Nilaya
@chmap|ctf_anubis_no_wpns|Jordane
@chmap|ctf_lava_no_wpns|Ubu
@chmap|ctf_medieval_no_wpns|chi1 & Lord
@chmap|ctf_onyx_1_no_wpns|ajaiix
@chmap|ctf_planet_no_wpns|Rilla
@chmap|ctf_resen_no_wpns|MoRe!
@chmap|ctf_space_no_wpns|Ubu
@chmap|desertcamp_no_wpns|Daniel
@chmap|fly_crystal_night_no_wpns|Silent
@chmap|fly_green_cave_no_wpns|WaRNe0nx3
@chmap|fly_nanana_sy_no_wpns|Syrws
@chmap|flying2ChewingGum_no_wpns|Syrws
@chmap|flying2caramel_no_wpns|Syrws
@chmap|lost_no_wpns|motar
@chmap|sis_no_wpns|[...(-.-)...] G, Taavi & [...(-.-)...] z
