@chmap|ctf1_no_wpns
@chmap|ctf2_no_wpns
@chmap|ctf3_no_wpns
@chmap|ctf4_no_wpns
@chmap|ctf4_old_no_wpns
@chmap|ctf5_no_wpns
@chmap|ctf6_no_wpns
@chmap|ctf7_no_wpns
@chmap|ctf_medieval_no_wpns|chi1 & Lord
@chmap|ctf_onyx_1_no_wpns|ajaiix
@chmap|ctf_resen_no_wpns|MoRe!
