@chmap|ctf1|matricks
@chmap|ctf2|matricks
@chmap|ctf3|chi1 & Somerunce
@chmap|ctf4|chi1 & pocram
@chmap|ctf4_old|chi1, Landil & pocram
@chmap|ctf5|chi1
@chmap|ctf6|chi1, Steph & pocram
@chmap|ctf7|Ubu & Lord
@chmap|ctf8|Sonix
@chmap|ctf_amazonia|Nilaya
@chmap|ctf_anubis|Jordane
@chmap|ctf_lava|Ubu
@chmap|ctf_medieval|chi1 & Lord
@chmap|ctf_onyx_1|ajaiix
@chmap|ctf_planet|Rilla
@chmap|ctf_resen|MoRe!
@chmap|ctf_space|Ubu
@chmap|desertcamp|Daniel
@chmap|fly_crystal_night|Silent
@chmap|fly_green_cave|WaRNe0nx3
@chmap|fly_nanana_sy|Syrws
@chmap|flying2ChewingGum|Syrws
@chmap|flying2caramel|Syrws
@chmap|lost|motar
@chmap|sis|[...(-.-)...] G, Taavi & [...(-.-)...] z
