@chmap|ctf1
@chmap|ctf2
@chmap|ctf3
@chmap|ctf4
@chmap|ctf4_old
@chmap|ctf5
@chmap|ctf6
@chmap|ctf7
@chmap|ctf_anubis|Jordane
@chmap|ctf_medieval|chi1 & Lord
@chmap|ctf_onyx_1|ajaiix
@chmap|ctf_resen|MoRe!
@chmap|fly_crystal_night|Silent
@chmap|flying2ChewingGum|Syrws
