sv_server_type "Fastcap"
clear_votes

@heading|Server
@switch|Short|exec race/votes_short.cfg
@switch|Middle|exec race/votes_middle.cfg
@switch|Long|exec race/votes_long.cfg
@switch|Fastcap|exec race/votes_fastcap.cfg
@switch|Fastcap (No Weapons)|exec race/votes_fastcap_no_wpns.cfg|on

@heading|New Maps
exec race/mapsnew_fastcap_no_wpns.cfg

@heading|Maps
@option|Random Fastcap Map|random_map
@option|Random Fastcap Map Unfinished|random_unfinished_map
@comment|
exec race/maps_fastcap_no_wpns.cfg
