sv_server_type "Long"
clear_votes

@heading|Server
@switch|Short|exec race/votes_short.cfg
@switch|Middle|exec race/votes_middle.cfg
@switch|Long|exec race/votes_long.cfg|on
@switch|Fastcap|exec race/votes_fastcap.cfg

@heading|New Maps
exec race/mapsnew_long.cfg

@heading|Maps
@option|Random Long Map|random_map
@option|Random Long Map Unfinished|random_unfinished_map
@comment|
exec race/maps_long.cfg
