@chmap|stdmaps/ctf1
@chmap|stdmaps/ctf2
@chmap|stdmaps/ctf3
@chmap|stdmaps/ctf4
@chmap|stdmaps/ctf4_old
@chmap|stdmaps/ctf5
@chmap|stdmaps/ctf6
@chmap|stdmaps/ctf7
@chmap|stdmaps/ctf_benjiks_nightmare
@chmap|stdmaps/ctf_cold_winter
@chmap|stdmaps/ctf_ctf
@chmap|stdmaps/ctf_czech
@chmap|stdmaps/ctf_fall
@chmap|stdmaps/ctf_high_ground
@chmap|stdmaps/ctf_mars
@chmap|stdmaps/ctf_red_afternoon
@chmap|stdmaps/ctf_uno
@chmap|stdmaps/snowcamp
@chmap|stdmaps/dm1
@chmap|stdmaps/dm2
@chmap|stdmaps/dm6
@chmap|stdmaps/dm7
@chmap|stdmaps/dm8
@chmap|stdmaps/dm9
